<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dptLogoURL</key>
		<string>1</string>
		<key>dptName</key>
		<string>晋祠</string>
		<key>dptDesc</key>
		<string>全国重点文物保护单位之一，位于太原市西南郊25公里处的悬瓮山麓。晋祠原为纪念西周初年（公元前11世纪）武王次子、晋国开国侯而建。</string>
        <key>introduce</key>
        <string>晋祠，全国重点文物保护单位之一，位于太原市西南郊25公里处的悬瓮山麓。晋祠原为纪念西周初年（公元前11世纪）武王次子、晋国开国侯而建。创建年代已不可考。北魏郦道元的《水经注》就有关于晋祠的记载，可见当时已经颇为出名了。
            　　晋祠现已称为一个有着几十座古建筑的中国古典园林的游览胜地。这里殿宇、亭台、楼阁、小桥、古树互相映衬，山环水绕，文物荟萃，古木参天，是一处风景十分优美的古建园林，被誉为山西的“小江南”，驰名中外。晋祠的文物古迹很多，比较著名的有：圣母殿、侍女像、鱼沼飞梁、难老泉等。
            　　侍女像
            　　圣母殿是晋祠的主体建筑。殿内，除圣母居中端坐外，旁有42尊侍女像。她们有的洒扫，有的梳妆，有的奉饮食，有的侍起居，还有音乐歌舞，文印翰墨等，各有所司。尽管她们职务不同，但都长期禁锢在宫廷之中，其哀怨、愠怒、厌倦和抑压之情，在她们的面部都有着细腻生动的刻划。在我国古代泥艺术中是比较罕见的作品。
            　　奉圣寺
            　　全称十方奉圣禅寺，在晋祠的最南部。这里曾是唐代大将尉迟敬德的别墅，有挂甲树仍立于院中。奉圣寺北有舍利塔，高38米，为七级八角形，每层四面有门，并绕以琉璃勾栏，可供凭倚，登塔远望，晋祠全景尽收眼底。村庄、田野一览无遗。
            　　金人台
            　　古称莲花台。在晋祠中轴线会仙楼正西。因台上四隅各铸铁人一尊，亦称铁太尉。台正方形，四周砌栏杆，正中设琉璃瓦小焚帛炉楼，高约4米。
            　　四隅金人以西南隅为最佳，其胸前有“北宋绍圣四年铸”铭文，西北隅铁人为次年所铸，头为明永乐二十一年补造；东南隅为北宋元祐四年铸造，东北隅为1913年补铸。据《太原县志》载，祠为晋水源头，故镇以金神，为防水患。
            　　鱼沼飞梁
            　　在晋祠圣母殿前，北宋时与圣母殿同建。鱼沼为水三泉之一，沼上架桥曰“飞梁”，亦称“板桥”，其结构为水中立小八角石柱三十四根，柱础为宝装莲花，石柱之上置斗拱，梁枋，衬托桥面，东西平坦连接圣母殿与献殿，南北两翼下斜至岸边。
            　　平面呈十字型，四周有勾栏围护可凭依。形制特殊，桥东月台上有铁狮一对，神态勇猛，造型逼真，铸于北宋政和八年(1118年)。
            　　难老泉
            　　出自悬瓮山下的断岩层，素有“晋阳第一泉”之誉，与侍女像、齐年柏并称“晋祠三绝”。因它晶莹澄澈，畅流不断，人们便以“难老”名之，泉水常年保持在17℃，灌溉着附近数万亩稻田。
            　　李白、范仲淹等大诗人都曾写过赞美难老泉的诗。难老泉上有水母楼，是晋源神祠。祠内，水母端庄秀丽，据瓮而坐，她束发未竟，神态自若。
            　　齐年柏
            　　晋祠的参天古树也给人以深刻的印象。周柏，又名“齐年柏”，相传为西周时所植，由于年代久远，树身已向南倾斜约40度，但仍充满了生机。
            　　北宋文学家欧阳修在几百年以前，就曾以“地灵草木得余润，郁郁古柏含苍烟”的诗句来歌颂它的古老、苍劲；刻于周柏旁的明末书画家傅山先生的题词“晋源之柏第一章”，更加渲染和烘托了它顽强的生命力。
            　　献殿
            　　在晋祠内鱼沼飞梁之前。原为祭祀圣母，供献礼品的场所。金在定八年(1168年)创建，经明万历二十二年(1594年)修葺。
            　　面阔三间，进深两间，单檐歇山顶，琉璃雕花脊，梁架为彻上露明造，斗拱简洁，出檐深远，前后当心间辟门，其余各间在槛墙之上安置棂栅栏，外观酷似凉亭，但整体结构轻巧稳固。
            　　《晋祠之铬并序》碑
            　　在晋祠贞观宝翰亭内，是贞观二十年（646）唐太宗李世民撰并书写的。碑高1.95米，宽1.2米，厚0.27米，全碑1203字,书法骨格雄健，笔力奇逸，含有王羲之书法之神韵，是书法艺术中的珍品，可谓行书楷模。</string>
	</dict>
	<dict>
        <key>dptLogoURL</key>
        <string>2</string>
        <key>dptName</key>
		<string>太原森林公园 </string>
		<key>dptDesc</key>
		<string>　太原森林公园，占地224公顷，是迎泽公园的3.5倍，近年所建成的国内罕见的城市人工森林公园;其中水域面积386亩，略大于迎泽公园的300亩</string>
        <key>introduce</key>
        <string>　太原森林公园，占地224公顷，是迎泽公园的3.5倍，近年所建成的国内罕见的城市人工森林公园;其中水域面积386亩，略大于迎泽公园的300亩。园内栽植常绿树、落叶乔木等树种达10万多株，建了占地500余亩的国际标准的九洞灯光高尔夫球场，还有植物景园、狩猎场、模拟原始人俱乐部、开放式百鸟园等。</string>
       
	</dict>
	<dict>
        <key>dptLogoURL</key>
        <string>3</string>
        <key>dptName</key>
		<string>清徐宝源老醋坊</string>
		<key>dptDesc</key>
		<string>太原清徐宝源老醋坊位于山西省太原市，是“太原市青少年传承教育基地”，被太原市旅游局评为“太原市首批工业旅游示范景点”，被山西省文化厅评为“山西省清徐老陈醋酿制技艺博物馆”，被国家旅游局评为“国家AAAA级旅游景区”。</string>
        <key>introduce</key>
        <string>太原清徐宝源老醋坊位于山西省太原市，是“太原市青少年传承教育基地”，被太原市旅游局评为“太原市首批工业旅游示范景点”，被山西省文化厅评为“山西省清徐老陈醋酿制技艺博物馆”，被国家旅游局评为“国家AAAA级旅游景区”。</string>
	</dict>
	<dict>
        <key>dptLogoURL</key>
        <string>4</string>
        <key>dptName</key>
		<string>中国煤炭博物馆</string>
		<key>dptDesc</key>
		<string>看点:中国煤炭博物馆是我国唯一的国家级煤炭行业博物馆，是全国煤炭行业历史文物、标本、文献、资料的收藏中心，是煤炭工业的科普教育机构、科学研究机构和宣传教育机构，是崇尚科学和文明的象征。</string>
        <key>introduce</key>
        <string>　看点:中国煤炭博物馆是我国唯一的国家级煤炭行业博物馆，是全国煤炭行业历史文物、标本、文献、资料的收藏中心，是煤炭工业的科普教育机构、科学研究机构和宣传教育机构，是崇尚科学和文明的象征。:
            　　中国煤炭博物馆分东、西两院，占地约11公顷，建筑面积约90,000平方米，由陈列大厅、中国煤炭科教文交流中心、学术报告厅、办公研究楼和现代科技学院等组成。中国煤炭博物馆基本陈列总体规划为“七馆一井”：煤的生成馆、煤炭与人类馆、煤炭开发技术馆、当代中国煤炭工业馆、煤炭艺术馆、煤炭文献馆、中外交流馆和模拟矿井。现在，对外开放的有煤的生成馆、煤炭与人类馆、煤炭艺术馆、煤炭文献馆和模拟矿井。另外还新开发了古代壁画馆和煤矿安全教育馆，在全国煤炭工业的两个文明建设中发挥了重要作用，在全国行业博物馆的建设和发展中走出了一条全新的道路。
            　　</string>
        
	</dict>
	<dict>
        <key>dptLogoURL</key>
        <string>5</string>
        <key>dptName</key>
		<string>汾河公园 </string>
		<key>dptDesc</key>
		<string>位于太原市中心的大型城市生态景观公园，首期工程建于1998年10月至2000年9月，总投资5.6亿元，是具有中国北方园林风格和太原汾河地域文化的山水园，全长6公里，宽500米，占地300公顷，形成了130万平方米水面和130万平方米绿地，是太原市目前最大、最集中的公共绿地游乐场所.</string>
        <key>introduce</key>
        <string>位于太原市中心的大型城市生态景观公园，首期工程建于1998年10月至2000年9月，总投资5.6亿元，是具有中国北方园林风格和太原汾河地域文化的山水园，全长6公里，宽500米，占地300公顷，形成了130万平方米水面和130万平方米绿地，是太原市目前最大、最集中的公共绿地游乐场所。同时也是太原城区汾河段蓄水美化工程，人工复式河槽由中隔墙分成东西两渠，东侧清水渠，宽220米，由四道橡胶坝分为三级蓄水湖面；西侧浑水渠宽80米，排泄上游洪水和水库灌溉输水。东西两岸各布置一条箱形排污暗涵，接纳城市排污管道和边山支沟来水，送至下游污水处理厂进行净化处理。
            　　在公园两岸带状绿化平台上分布着4个主题广场、6个自然景区和7个观光景点。
            　　地址：太原市万柏林区滨河东路
            　　类型：城市公园河流
            　　等级：AAAA
            　　游玩时间：建议1-3小时
            　　电话：0351-2772650
            　　开放时间：
            　　夏季时间：6:00-22:00，冬季时间：6:00-23:00
            　　门票信息：
            　　免费开放。

            　　</string>
        
	</dict>
	<dict>
        <key>dptLogoURL</key>
        <string>6</string>
        <key>dptName</key>
		<string>太原动物园</string>
		<key>dptDesc</key>
		<string>太原动物园位于省城东北隅的卧虎山上，距市中心6公里，占地面积79.36公顷(1190.41亩)，地形地貌为东南高、西北低，东西直线长约5华里，南北平均宽约2华里，全园有供游客参观的各种动物品种170余种。</string>
        
        <key>introduce</key>
        <string>　太原动物园位于省城东北隅的卧虎山上，距市中心6公里，占地面积79.36公顷(1190.41亩)，地形地貌为东南高、西北低，东西直线长约5华里，南北平均宽约2华里，全园有供游客参观的各种动物品种170余种，3300余头(只);各种植物70余种，30余万株，草坪面积60万平方米，绿化覆盖率达到了85%以上;动物表演场四座，生态餐厅两座，游乐设施30余项，年接待游客量130余万人次。园内林木茂盛、景区相连、曲径通幽、鸟语花香，呈现出多色彩的园林景观特色，整个景区处处体现着人与自然、人与动物和谐共处的栖息环境氛围，丰富和满足了省城人民日益增长的精神文化生活需要，为我市创建国家园林城市、丰富旅游内容、开拓旅游市场、发展特色旅游产业、带动旅游和区域经济做出了应有的贡献。太原动物园已成为我省无可替代的综合性主题旅游景区。
            　　动物园以"自然、野趣相融合，人与动物和谐共处"为主题，建造出一个最适合动物生存的自然环境。全园遵循自然、依地形合理分布建设，根据功能区划分为七个游览景区，分别是专为儿童设计的"小小天地"景区;以观赏各种花卉为主的"百花苑"景区;以展览黑猩猩、黄狒狒、松鼠猴、节尾狐猴、青猴、赤猴、猕猴等灵长类动物为主的"花果山"景区;由火烈鸟馆、百鸟苑、水禽湖、孔雀苑、鸣禽馆、猛禽馆组成的"鸟语蓝天"景区;以展览大熊猫、非洲犀牛、长颈鹿、大象、斑马、鸵鸟、骆驼、梅花鹿、角马等食草类动物的"草原风情"景区;由熊山、狮馆、豹馆、狼舍、虎园等组成的"自然森林"猛兽区;由生态餐厅、游乐场组成的"中心休闲娱乐"区。另有海狮表演、大象表演、马戏表演，场场表演新奇有趣，引人入胜。
            　　太原动物园在规划、建设中，加强自然、生态建设;经营中坚持以科学发展观为统领，坚持"以人为本，视动物为生命，以游客为源泉"的建园之策和立园之本，以"树立形象、打造品牌、提档升值"为发展方向;管理中加强服务质量建设，加大动物保护、品种引进、繁殖、科普教育和宣传力度，坚持安全与服务并重，不断挖掘动物文化、历史文化和民情民俗文化，每年定期举办"动物运动会"、"动物文化节"、"庙会"等大型游园活动，丰富活动内容，打造特色，逐步将太原动物园建设成为集自然生态、人文景观、动物特色为一体的人、动物、自然和谐旅游景区，成为我省娱乐休闲、科普宣传和科研教育的最佳场所。</string>
	</dict>
	<dict>
        <key>dptLogoURL</key>
        <string>7</string>
        <key>dptName</key>
		<string>东湖醋园 </string>
		<key>dptDesc</key>
		<string>　东湖醋园位于太原市东山高速公路和建设北路之间的马道坡26号，占地面积20000多平方米，是山西省第一家动态展示传统与现代老陈醋生产工艺流程和老陈醋历史文化内涵的公司化、工厂化博物馆。东湖醋园的陈列堂和醋疗园。</string>
        <key>introduce</key>
        <string>东湖醋园位于太原市东山高速公路和建设北路之间的马道坡26号，占地面积20000多平方米，是山西省第一家动态展示传统与现代老陈醋生产工艺流程和老陈醋历史文化内涵的公司化、工厂化博物馆。东湖醋园的陈列堂和醋疗园。分别收集了我国西汉以来各种酿醋器具、农耕器具和700余个醋疗药方，以古今器皿展示、文献典籍摘记，图片照片写真，产品实物陈列等形式充分展示了山西老陈醋的历史文化底蕴。临近仿古建筑美和居醋坊，迎面而来的是既酸又香的老陈醋气味。进入古色古香的美和居醋坊，犹如来到了500年前的老陈醋作坊，老醋芳香、扑鼻沁心，醋味十足，难以忘怀。作坊内“蒸、酵、熏、淋、晒”的老陈醋制作工艺和步骤一览无余，游客参与部分制作过程或者尽兴品尝老陈醋“绵、酸、香、甜、鲜”之感的姿态可亲可敬。交通：乘9、809路车到职工新村下，步行10分钟到马道坡26号即到。
            　　
            　　地址：太原市马道坡26号
            　　类型：手工作坊
            　　等级：AAAA
            　　游玩时间：建议1-2小时
            　　电话：400-615-8585
            　　官方网站：http://www.sxlcc.com/
            　　开放时间：
            　　8:00-17:30</string>
	</dict>
	<dict>
        <key>dptLogoURL</key>
        <string>8</string>
        <key>dptName</key>
		<string>蒙山大佛 </string>
		<key>dptDesc</key>
		<string>比乐山大佛早162年的大佛------蒙山位于开化沟内，主峰海拔1325米，是晋阳佛教圣地和避暑胜地，古开化寺、甘泉寺、北汉皇帝刘知远避暑宫等曾有辉煌的历史。</string>
        <key>introduce</key>
        <string>　比乐山大佛早162年的大佛------蒙山
            　　位于开化沟内，主峰海拔1325米，是晋阳佛教圣地和避暑胜地，古开化寺、甘泉寺、北汉皇帝刘知远避暑宫等曾有辉煌的历史。东魏孝静帝曾敕佛教净土宗始祖昙鸾住大岩寺（开化旧名）。公元551年，北齐文宣帝高洋凿寺后大岩为大佛，历五帝24年始成。蒙山大佛依山镌刻，结跏跌足而坐，双手施禅定印，佛体厚胛肥肩，佛超山峦，高遏云天，气势非凡。据史称，佛高"二百尺"（约66米）略低于四川乐山大佛，但早于乐山大佛162年，是我国最早的露天摩崖石刻大佛。目前，虽佛身清晰，但蒙山大佛头像已毁，佛身残破，蒙山大佛正在蒙难！大佛对面存有北宋淳化元年（公元990年）建造的连理塔。
            　　地址：太原市晋源区罗城寺底村
            　　类型：古迹
            　　游玩时间：建议2-4小时
            　　电话：0351-6159898
            　　开放时间：
            　　8:00-17:30
            　　门票信息：
            　　免费开放。</string>
	</dict>
	<dict>
        <key>dptLogoURL</key>
        <string>9</string>
        <key>dptName</key>
		<string>圣母殿</string>
		<key>dptDesc</key>
		<string>看点:大殿前的廊柱上有8条木雕蟠龙，造型精巧，是宋代木雕中的精品，也是国内现存最早的木雕蟠龙。殿内还有著名的侍女像，形象生动、神情自然。这43尊造于宋代的塑像。</string>
        <key>introduce</key>
        <string>看点:
            　　大殿前的廊柱上有8条木雕蟠龙，造型精巧，是宋代木雕中的精品，也是国内现存最早的木雕蟠龙。殿内还有著名的侍女像，形象生动、神情自然。这43尊造于宋代的塑像，是晋祠文物中的珍品。
            　　:经过鱼沼飞梁继续向前走，就到了圣母殿，这里是晋祠的主殿。该殿始建于北宋年间，距今已有近千年的历史。大殿是一座正方形建筑，面阔七间、进深六间，殿内看不到一根承重的明柱，从面使殿内的空间增大了不少，这种奇特的构筑颇为罕见。
            　　地址：太原市晋源区晋祠镇晋祠公园晋祠博物馆内
            　　交通
            　　圣母殿位于太原市
            　　市内乘公交301路、302路、308路、804路、848路、856路到晋祠公园站下即可。
            　　类型：古迹
            　　等级：AAAA
            　　游玩时间：建议15-30分钟
            　　电话：0351-2149649
        </string>

	</dict>
	<dict>
        <key>dptLogoURL</key>
        <string>10</string>
        <key>dptName</key>
		<string>古交红豆山庄</string>
		<key>dptDesc</key>
		<string>古交市龙城向新生态恢复示范园（红豆山庄），位于山西省古交市河口镇火山村，成立于2010年7月，是一个由煤炭企业转型到第三产业的新型企业，是集餐饮、娱乐、住宿、商务活动、滑雪、高尔夫培训、观赏、采摘等休闲娱乐于一体的大型高端生态恢复示范园。</string>
        <key>introduce</key>
        <string>古交市龙城向新生态恢复示范园（红豆山庄），位于山西省古交市河口镇火山村，成立于2010年7月，是一个由煤炭企业转型到第三产业的新型企业，是集餐饮、娱乐、住宿、商务活动、滑雪、高尔夫培训、观赏、采摘等休闲娱乐于一体的大型高端生态恢复示范园。 景区果品采摘区占地约72亩。有28座种植大棚，其中以种植葡萄、无花果、草莓、甜瓜本地适栽品种为主，由南向北依次为山桃、杏树、核桃、枣树、樱桃、梨树，东侧设置300米葡萄长廊，大棚美国原植物红豆杉10万株，游步于果林间，体味田园气息、林中乐趣。山庄拥有11座四合院，每院独立布局，各有特色，每院可容纳8-10人，园内湖水点缀，草林葱绿。四合院内设正房，正房内设两大床房，各带独立卫生间。院内还设有东西厢房，西厢房内设两标间，可供最少4人住宿。东厢房为厨房，其中配备各种烹饪设备，可自己烹调美食。同时山庄客房可同时提供80-100人住宿。古香古色的山庄餐饮让您享受极致的味蕾体验，内蒙古烤全羊，在羊羔烘烤过程中逐步增加了各种配料和调味品，使其形、色、味、鲜集一体，色美、肉香、外焦、内嫩、干酥不腻，被人们赞为“眼未见其物，香味已扑鼻”。同时山庄农家菜绝对让您回味无穷！同时山庄提供餐饮自助餐以及桌餐。山庄拥有大型联动餐厅，可容纳最少200人同时用餐。山庄拥有高端大型会议室，其配备有各种高科技会议设备，如3D环绕立体音响，会议台麦以及大屏幕电脑投影。会议室配备专职服务人员，会议环境安静典雅。
            　　景区地址： 古交市河口镇火山村滨河北路中段
            　　咨询电话：400-163-6663</string>
	</dict>
</array>
</plist>
